<!-- <app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes></app-recipes>
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div> -->
<app-header (activeItem)="getActiveItem($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="activeItem === 'Recipes'"></app-recipes>
      <app-shopping-list *ngIf="activeItem === 'Shopping List'"></app-shopping-list>
    </div>
  </div>
</div>
